// MAIN COLORS
$white-color: #fff;
$matterhorn-color: #0f1e36;
$purple-heart-color: #3e2ad1;
$alice-blue-color: #dceafb;
$gray-color: #e4e4e4;
$silver-color: #545663;
$black-color: #000;

// APP COLORS
$color-primary: $purple-heart-color;
$color-secondary: $alice-blue-color;

// TEXT COLORS
$text-color-primary: $matterhorn-color;
$text-color-secondary: $silver-color;

// BREAKPOINTS
$container-max-width: 768px;
