@import './settings';

// COLORS
.t-color--primary {
  color: $text-color-primary;
}

.t-color--secondary {
  color: $text-color-secondary;
}

.t-color--white {
  color: $white-color;
}

.t-color--purple-heart {
  color: $purple-heart-color;
}

.t-color--alice-blue {
  color: $alice-blue-color;
}

.t-color--black {
  color: $black-color;
}

// BACKGROUNDS
.t-bg--primary {
  background-color: $color-primary;
}

.t-bg--secondary {
  background-color: $color-secondary;
}

.t-bg--white {
  background-color: $white-color;
}

.t-bg--silver {
  background-color: $silver-color;
}

.t-bg--matterhorn {
  background-color: $matterhorn-color;
}

.t-bg--purple-heart {
  background-color: $purple-heart-color;
}

.t-bg--alice-blue {
  background-color: $alice-blue-color;
}
