@import './settings';

// DISPLAY
.u-display--inline-block {
  display: inline-block !important;
}

// WIDTH
.u-full-width {
  width: 100% !important;
}

.u-table--min-width {
  min-width: 400px !important;
}

// FONT
.u-font--xs {
  font-size: 0.6rem !important;
}

.u-font--sm {
  font-size: 0.8rem !important;
}

.u-font {
  font-size: 1rem !important;
}

.u-font--md {
  font-size: 1.5rem !important;
}

.u-font--lg {
  font-size: 2rem !important;
}

.u-font-bold {
  font-weight: bold !important;
}

// TEXT ALIGNMENT
.u-text-align--left {
  text-align: left !important;
}

.u-text-align--center {
  text-align: center !important;
}

// PADDINGS
.u-padding--left-sm {
  padding-left: 0.5rem !important;
}

.u-padding--left {
  padding-left: 1rem !important;
}

.u-padding--left-md {
  padding-left: 1.5rem !important;
}

.u-padding--right-sm {
  padding-right: 0.5rem !important;
}

.u-padding--right {
  padding-right: 1rem !important;
}

.u-padding--right-md {
  padding-right: 1.5rem !important;
}

.u-padding--bottom-sm {
  padding-bottom: 0.5rem !important;
}

.u-padding--bottom {
  padding-bottom: 1rem !important;
}

.u-padding--bottom-md {
  padding-bottom: 1.5rem !important;
}

.u-padding--top-sm {
  padding-top: 0.5rem !important;
}

.u-padding--top {
  padding-top: 1rem !important;
}

.u-padding--top-md {
  padding-top: 1.5rem !important;
}

.u-padding--xs {
  padding: 0.35rem !important;
}

.u-padding--sm {
  padding: 0.5rem !important;
}

.u-padding {
  padding: 1rem !important;
}

.u-padding--md {
  padding: 1.5rem !important;
}

// MARGINS
.u-margin--left-sm {
  margin-left: 0.5rem !important;
}

.u-margin--left {
  margin-left: 1rem !important;
}

.u-margin--left-md {
  margin-left: 1.5rem !important;
}

.u-margin--left-lg {
  margin-left: 2rem !important;
}

.u-margin--right-sm {
  margin-right: 0.5rem !important;
}

.u-margin--right {
  margin-right: 1rem !important;
}

.u-margin--right-md {
  margin-right: 1.5rem !important;
}

.u-margin--bottom-sm {
  margin-bottom: 0.5rem !important;
}

.u-margin--bottom {
  margin-bottom: 1rem !important;
}

.u-margin--bottom-md {
  margin-bottom: 1.5rem !important;
}

.u-margin--top-sm {
  margin-top: 0.5rem !important;
}

.u-margin--top {
  margin-top: 1rem !important;
}

.u-margin--top-md {
  margin-top: 1.5rem !important;
}

.u-no-margin {
  margin: 0 !important;
}
