<div class="album-list o-container">
  <app-header title="Music albums"></app-header>
  <div class="album-list__container u-padding--left u-padding--right u-margin--top-md u-margin--bottom-md">
    <div *ngFor="let musicAlbum of Albums | async" class="album-list__item u-padding--xs t-bg--white">
      <a class="o-link--no-style o-flex-align--center" [routerLink]="['/detail', musicAlbum.id]">
        <div class="album-list__img u-margin--right">
          <img class="o-full-width" [src]="musicAlbum.thumbnail" />
        </div>
        <div class="o-flex--vertical o-flex--1">
          <span class="t-color--primary">
            {{ musicAlbum.name }}
          </span>
          <span class="t-color--secondary u-font--sm">
            {{ musicAlbum.artist }}
          </span>
          <span class="u-display--inline-block u-margin--top-sm u-font--xs t-color--purple-heart">
            Tracks: {{ musicAlbum.tracks }}
          </span>
        </div>
      </a>
    </div>
  </div>
</div>
